<div class="projects-container">
    <div class="project-text-container">
        <h1 class="project-text">projects.</h1>
    </div>
    <div class="project-description-container">
        <p class="project-description">"Following projects showcases my skills and experience through real-world examples of my work. Each project is briefly described with links to code repositories in it. If reflects my ability to solve complex problems, work with different technologies, and manage projects effectively."</p>
    </div>

    <div  class="project-content-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4  col-sm-6 col-xs-12 card-col"><app-project-card></app-project-card></div>
                <div class="col-md-4  col-sm-6 col-xs-12 card-col"><app-project-card></app-project-card></div>
                <div class="col-md-4  col-sm-6 col-xs-12 card-col"><app-project-card></app-project-card></div>
            </div>
            <div class="row">
                <div class="col-md-4  col-sm-6 col-xs-12 card-col"><app-project-card></app-project-card></div>
                <div class="col-md-4  col-sm-6 col-xs-12 card-col"><app-project-card></app-project-card></div>
                <div class="col-md-4  col-sm-6 col-xs-12 card-col"><app-project-card></app-project-card></div>
            </div>
        </div>
    </div>
</div>

