 <div class="projects-container">
    <div class="project-text-container">
        <h1 class="project-text">{{header}}</h1>
    </div>
    <div class="project-description-container">
        <p class="project-description">{{description}}</p>
    </div>
    <div  class="project-content-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4  col-sm-6 col-xs-12 card-col"><app-project-card [projectDataSet]="projectData[0]"></app-project-card></div>
                <div class="col-md-4  col-sm-6 col-xs-12 card-col"><app-project-card [projectDataSet]="projectData[1]"></app-project-card></div>
                <div class="col-md-4  col-sm-6 col-xs-12 card-col"><app-project-card [projectDataSet]="projectData[2]"></app-project-card></div>
            </div>
            <div class="row">
                <div class="col-md-4  col-sm-6 col-xs-12 card-col"><app-project-card [projectDataSet]="projectData[3]"></app-project-card></div>
                <div class="col-md-4  col-sm-6 col-xs-12 card-col"><app-project-card [projectDataSet]="projectData[4]"></app-project-card></div>
                <div class="col-md-4  col-sm-6 col-xs-12 card-col"><app-project-card [projectDataSet]="projectData[5]"></app-project-card></div>
            </div>
        </div>
    </div>
</div>