<div class="container">
    <div class="row card-row">
        <div class="col-md-6">
            <div class="techlist-container">
                <div class="container box-container">
                    <h2 class="tech-header">Frontend Technologies</h2>
                    <div class="rows">
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                    </div>
                    <div class="rows">
                         <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
            
                    </div>
                    <div class="rows">
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                    </div>
                    <div class="rows">
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="techlist-container">
                <div class="container box-container">
                    <h2 class="tech-header">Frontend Technologies</h2>

                    <div class="rows">
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                    </div>
                    <div class="rows">
                         <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
            
                    </div>
                    <div class="rows">
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                    </div>
                    <div class="rows">
                        <app-tech-box></app-tech-box>
                        <app-tech-box></app-tech-box>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
