<div class="container">
  <div class="row card-row">
      <div class="col-md-6">
          <div class="techlist-container">
              <div class="container box-container">
                  <h2 class="tech-header">{{feHeader}}</h2>
                  <div class="rows">
                      <app-tech-box [techStackData]="feTechDataArray[0]"></app-tech-box>
                      <app-tech-box [techStackData]="feTechDataArray[1]"></app-tech-box>
                      <app-tech-box [techStackData]="feTechDataArray[2]"></app-tech-box>
                      <app-tech-box [techStackData]="feTechDataArray[3]"></app-tech-box>
                  </div>
                  <div class="rows">
                       <app-tech-box [techStackData]="feTechDataArray[4]"></app-tech-box>
                      <app-tech-box [techStackData]="feTechDataArray[5]"></app-tech-box>
                      <app-tech-box [techStackData]="feTechDataArray[6]"></app-tech-box>
                      <app-tech-box [techStackData]="feTechDataArray[7]"></app-tech-box>
                  </div>
                  <div class="rows">
                      <app-tech-box [techStackData]="feTechDataArray[8]"></app-tech-box>
                      <app-tech-box [techStackData]="feTechDataArray[9]"></app-tech-box>
                      <app-tech-box [techStackData]="feTechDataArray[10]"></app-tech-box>
                  </div>
                  <div class="rows">
                      <app-tech-box [techStackData]="feTechDataArray[11]"></app-tech-box>
                      <app-tech-box [techStackData]="feTechDataArray[12]"></app-tech-box>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="techlist-container">
              <div class="container box-container">
                  <h2 class="tech-header">{{beHeader}}</h2>

                  <div class="rows">
                      <app-tech-box [techStackData]="beTechDataArray[0]"></app-tech-box>
                      <app-tech-box [techStackData]="beTechDataArray[1]"></app-tech-box>
                      <app-tech-box [techStackData]="beTechDataArray[2]"></app-tech-box>
                      <app-tech-box [techStackData]="beTechDataArray[3]"></app-tech-box>
                  </div>
                  <div class="rows">
                      <app-tech-box [techStackData]="beTechDataArray[4]"></app-tech-box>
                      <app-tech-box [techStackData]="beTechDataArray[5]"></app-tech-box>
                      <app-tech-box [techStackData]="beTechDataArray[6]"></app-tech-box>
                      <app-tech-box [techStackData]="beTechDataArray[7]"></app-tech-box>
                  </div>
                  <div class="rows">
                      <app-tech-box [techStackData]="beTechDataArray[8]"></app-tech-box>
                      <app-tech-box [techStackData]="beTechDataArray[9]"></app-tech-box>
                      <app-tech-box [techStackData]="beTechDataArray[10]"></app-tech-box>
                  </div>
                  <div class="rows">
                      <app-tech-box [techStackData]="beTechDataArray[11]"></app-tech-box>
                      <app-tech-box [techStackData]="beTechDataArray[12]"></app-tech-box>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>