.techlist-container{
  width: 100%;
  /* background-color: rgb(18, 91, 16); */
  margin: 0;
  
}

.techlist-container{
border: 2px solid white;
border-radius: 8px;
/* width: auto; */
/* min-width: 450px; */
/* margin-left: 1%; */
width: 100%;
}

.fe-card{
/* width: 50%; */
/* background-color: red; */
}
.container{
/* background-color: rebeccapurple; */
width: 100%;
}
.col-md-6{
/* background-color: yellow; */

}
.rows, col{
display: flex;
justify-content: center;
/* background-color: red; */
width: 100%;

}


.tech-header{
color: white;
margin-top: 2%;
}

.card-row{

}

.box-container{
margin-bottom: 5%;
}

@media only screen and (min-width: 360px) {
.techlist-container{
  border: 2px solid white;
  border-radius: 8px;
  /* width: auto; */
  /* min-width: 400px; */
  /* margin-left: 1%; */
}
}

@media only screen and (min-width: 360px) {
.techlist-container{
  border: none;
}
}