<div class="aboutme-container">
    <!-- <h1 class="header-text">about me.</h1> -->
    <div class="container h-100">
        <!-- <div class="square"></div> -->
        <div class="row h-50">
            <div class="col-md-6 pro-pic-col col">
                <div class="profile-pic-container">
                    <img class="profile-pic" src="../../../assets/images/mouse2.png" alt="">
                    <h1 class="name">KAVINDU KARUNASENA</h1>
                </div>
            </div>
            <div class="col-md-6 col3 col">
                <div class="row">
                    <div class="col-md-12 col2 col"><div class="dialog-box side-text-container1 sc "><p class="message">Software Quality Engineer</p><div class="dialog-arrow"></div></div></div>
                    <div class="col-md-12 col2 col"><div class="dialog-box side-text-container2 sc "><p class="message">Test Automation </p><div class="dialog-arrow"></div></div></div>
                    <div class="col-md-12 col2 col"><div class=" side-text-container3 sc "><p class="message">Download CV <span><i class="fa-solid fa-download"></i></span></p><div class="dialog-arrow"></div></div></div>

                      
                    <!-- <div class="col-md-12 col2 col"><div class="side-text-container1 sc"><h1 class="fd-text">Fullstack Developer</h1></div></div> -->
                    <!-- <div class="col-md-12 col2 col"><div class="side-text-container2 sc"><h1 class="fd-text">Fresh Graduate</h1></div></div> -->
                    <!-- <div class="col-md-12 col2 col"><div class="side-text-container3 sc"><h1 class="fd-text">Fullstack Developer</h1></div></div> -->
                    <div class="col-md-12 col2 col">
                        <div class="icon-container">
                            <i class="fa-brands fa-linkedin fa-2xl icon" style="color: #ffffff;"></i>
                            <i class="fa-brands fa-github fa-2xl icon" style="color: #ffffff;"></i>
                            <i class="fa-brands fa-instagram fa-2xl icon" style="color: #ffffff;"></i>
                            <i class="fa-solid fa-envelope fa-2xl icon " style="color: #ffffff;"></i>
                            <i class="fa-brands fa-hackerrank fa-2xl icon" style="color: #ffffff;"></i>
                            <i class="fa-brands fa-codepen   fa-2xl icon" style="color: #ffffff;"></i>
                            <i class="fa-solid fa-phone fa-2xl icon" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row h-50">
            <div class="col-md-12 col">
                <div class="intro-container sc">
                    <p> A hardworking, creative-minded individual
                        who is passionate about software Quality
                        Assurance. A fast learner and a good team
                        player who can properly communicate in a
                        dynamic and challenging working
                        environment.</p>
                </div>
            </div>
        </div>   
    </div>
</div>

