<div class="about-container">
    <div class="img-container">
        <img class="profile-img" src="../../../assets/images/mouse2.png" alt="">
    </div>
    <div class="name">Kavindu Karunasena</div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam atque, ipsam a amet laboriosam eligendi.</p>
        </div>
        <div class="icons">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
            <i class="fa-brands fa-square-facebook fa-2xl"></i>
        </div>
</div>


