html,body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.footer-links {
  background-color: #131313;
  padding: 40px 0 30px;
}
.footer-links-social,
.footer-links-menu{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style:none;
  padding-left: 0;
  width: 400px;
}
.footer-social-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgb(85, 85, 85);
  border-radius: 50%;
}
.footer-social-icon:hover {
  background-color: #000;
  cursor:pointer;
}
.footer-social-icon a{
  color: #fff;
  text-decoration: none;
}
.footer-links-menu a {
  color: #9b9b9b;
  text-decoration: none;
}
.footer-links-menu a:hover {
  color: #fff;
}
.footer-links-menu li {
  font-size: 13px;
  margin-top: 10px;
  padding: 5px;
  width: calc(100%/6 - 20px);
}
.footer-legal {
  background-color: #000;
  padding: 20px 0;
  font-size: 13px;
  color: #fff;
  text-align: center;
}

.footer-heart {
  color: #f42;
}
.footer-legal-logos a img{
  height: 9px;
}