<footer>
    <div class="footer-links">
      <ul class="footer-links-social">
        <li class="footer-social-icon"><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li class="footer-social-icon"><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li class="footer-social-icon"><a href="#"><i class="fab fa-youtube"></i></a></li>
        <li class="footer-social-icon"><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li class="footer-social-icon"><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
        <li class="footer-social-icon"><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
      <ul class="footer-links-menu">
        <li><a href="#">EVENTS</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">TEAM</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
    <div class="footer-legal">
      <p class="footer-made"><span class="footer-legal-logos"></span> &copy; Kavindu Karunasena</p>
    </div>
  </footer>