<!-- 
<div class="tab-container">
  <mat-tab-group>
    <mat-tab label="Technologies">
      <div class="container">
        <div class="row">
            <div class="col-md-6 cel11"><app-post></app-post></div>
            <div class="col-md-6"><app-post></app-post></div>
        <div class="row">
            <div class="col-md-6"><app-post></app-post></div>
            <div class="col-md-6"><app-post></app-post></div>
        </div>
        <div class="row">
          <div class="col-md-6"><app-post></app-post></div>
          <div class="col-md-6"><app-post></app-post></div>
      </div>
      <div class="row">
        <div class="col-md-6"><app-post></app-post></div>
        <div class="col-md-6"><app-post></app-post></div>
    </div>
            </div>    
        </div>
    </mat-tab>
    <mat-tab label="Experience">
      <app-technologies></app-technologies>
    </mat-tab>
    <mat-tab label="Projects"> <app-post></app-post>  </mat-tab>
    <mat-tab label="Education"> <app-post></app-post>  </mat-tab>
    <mat-tab label="Blog"> <app-post></app-post>  </mat-tab>

  </mat-tab-group>
</div>

 -->
