.technologies-text{
    font-size: 300px;
    width: auto;
    margin-left: -50px;
}
.technologies-container{
    width: 100%;
    text-align: center;
    /* background-color: rgb(77, 69, 69); */
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */

}
.technologies-content-container{
    width: 100%;
    margin: 0 0%;
    /* background-color: red; */

}
.tech-header-text{
    color: rgb(118, 116, 116);
    font-size: 60px;
    text-align: left;
    margin-left: 7.5%;
}
.technology-header{
    margin-bottom: 100px;
}
.tech-stack-desc{
    text-align: left;
    margin-left: 7.5%;
    text-align: justify;
    width: 40%;
    margin-top: 2%;
    margin-bottom: -3%;
    color: rgb(170, 166, 166);
    font-size: 15px;

}