<div class="card-container">

    <div class="container">
        <div class="row">
            <div class="col-md-1 profile-pic-col">
                <div class="profile-pic-container">
                    <img class="profile-pic" src="../../assets/images/pp1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-8 name-col">
                <div class="row">
                    <div class="col-md-12 name-col name-text ">Kavindu Karunasena</div>  
                    <div class="col-md-12 name-col post-header ">Project</div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="img-container">
        <img class="img-post" src="../../assets/images/bg1.jpg" alt="">
    </div>
    
    <div class="like-cmnt-container">
    <div class="container">
        <div class="row">
            <div class="col-md-1 profile-pic-col">
                <div class="like-container">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>

                </div>
            </div>
            <div class="col-md-8 comnt-container">
                <i class="fa fa-comment" aria-hidden="true"></i>

            </div>
        </div>
    </div>

    </div>

 
    <div class="caption">
        <p class="caption-text"><span class="caption-header">Project </span>a book or other written or printed work, regarded in terms of its content rather than its physical form.</p>
    </div>
</div>








