@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: "Rubik", sans-serif;
}
  
body {
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;
}
.download-text{
    font-weight: bolder;
}

main {
  width: 50%;
  min-width: 1000px;
  background: linear-gradient(90deg, rgb(10, 21, 40) 0%, rgb(11, 138, 158) 100%);
  border-radius: 30px;
  position: relative;
}


h3, h1, p {
  margin: 0 30px;
}

h3 {
  margin-top: 30px;
  color: white;
  font-size: 28px;
  font-weight: 300;
}

h1 {
  margin-bottom: 30px;
  color: white;
  font-size: 13px;
}

p {
  margin: 30px;
  font-weight: 300;
  color: #A9C3B1;
}

button {
  padding: 20px 40px;
  border-radius: 100px;
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

#downloadBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-right: 10px;
  position: relative;
}

#downloadBtn::before, #downloadBtn::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 30px;
  background-color: transparent;
}

#downloadBtn::before {
  box-shadow: 0 -30px 0 0 white;
  top: 100%;
  left: 0;
  border-top-left-radius: 30px;
}

#downloadBtn::after {
  box-shadow: 0 30px 0 0 white;
  top: -60px;
  left: 0;
  border-bottom-left-radius: 30px;
}

#chameleon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 390px;
  width: 600px;
  background-repeat: no-repeat;
  background-size: auto 450px;
}


@media (max-width: 1000px) {
  body {
    transform: scale(0.5);
  }
}