<div class="intern-container">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col">
                <div class="company-container">
                    <img class="company-logo" src="../../../assets/images/el1.jpg" alt="">
                    <h1 class="company-name">Echonlabs</h1>
                </div>
            </div>
                            <!-- <h1 class="designation">Intern Software Engineer</h1> -->

            <div class="col-md-9 cell2">
                <p class="desc designation">Associate Software Engineer <span class="years"> March 2023 - May 2023</span></p>
                <!-- <h1 class="designation">Intern Software Engineer</h1> -->
                <p class="desc">In my role as a Full Stack Developer with a focus on both Frontend and
                    backend responsibilities  feature implementations,
                    component development, bug fixing and UI Designing.
                    </p>
                    <div class="tech-container">
                        <div class="tech">Angular</div>
                        <div class="tech">Angular</div>
                        <div class="tech">Angular</div>
                        <div class="tech">Angular</div>
                        <div class="tech">Angular</div>
                    </div>
            </div>
        </div>
    </div>
</div>