<div class="section">
    <div class="bg-video">
      <video class="bg-video__item" autoplay muted loop>
        <source src="https://storage.googleapis.com/coverr-main/mp4%2Fcoverr-yin-and-yang-1561488320950.mp4" type="video/mp4">
      </video>
    </div>
    <div class="title">
      <h2>Experience</h2>
    </div>
    <div class="section__brick">
      <figure class="section__profile">
        <img src="../../../assets/images/fortude.png" alt="" class="section__img">
        <!-- <figcaption class="section__caption">Ellie Rojas</figcaption> -->
      </figure>
      <div class="section__text">
        <h4>Fortude - Intern software engineer</h4>
        <p>Ac non massa enim tellus dignissim nisl vulputate, libero justo placerat scelerisque iaculis platea netus, risus himenaeos pulvinar cras tristique eleifend. Urna velit natoque nunc hac ridiculus fermentum scelerisque facilisis egestas, sed nulla libero ad elementum vulputate lacinia vestibulum dignissim, turpis suspendisse pellentesque risus quis fusce mattis venenatis.</p>
      </div>
    </div>
    
    <div class="section__brick">
      <figure class="section__profile">
        <img src="../../../assets/images/el.png" alt="" class="section__img">
        <figcaption class="section__caption">Cristian Martinez</figcaption>
      </figure>
      <div class="section__text">
        <h4>ECHONLABS - Associate software engineer</h4>
        <p>Nam vitae cursus libero. Morbi at elementum felis, sed pharetra nisi. Phasellus vel odio sem. Nulla condimentum scelerisque ipsum, et ultrices mauris. Nam rhoncus sed orci at imperdiet. In hendrerit massa nec nibh euismod cursus. Curabitur maximus metus at feugiat aliquam.</p>
      </div>
    </div>
  </div>