<div class="home-container">
  <div class="top-bar">
      <div class="name"><h2 class="name-text btn-shine" target="_blank">KAVINDU KARUNASENA</h2></div>
      <div class="social-media-icons">
        <div class="icons"><button class="blog-btn">Blog</button></div>
        <div class="icons"><i class="fa-brands fa-linkedin fa-2xl"></i></div>
        <div class="icons"><i class="fa-solid fa-envelope fa-2xl"></i></div>
      </div>
  </div>
  <div class="home-text-container">
    <h1 class="home-text">i'm kavindu</h1>
    <h1 class="home-text">full stack software engineer</h1>
    <h1 class="home-text-shadow">fresh graduate </h1>
  </div>
</div>
<div class="cv-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4 card-1"><app-card1></app-card1></div>
      <div class="col-md-8"><app-cv-card></app-cv-card></div>
    </div>
  </div>
  
  
</div>
