<body>
    <h4 class="fw-bold text-center"><h1>test</h1>
    Timeline</h4>
    <div class="hr-line mt-4 mb-4"></div>
    <h3 class="intro fw-bold text-center">Important dates in the history of the Internet</h3>
    <div class="container pt-5">
        <div class="main-timeline">
            <!--1st section-->
            <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                <div class="date-content order_1b">
                    <div class="date-outer">
                        <span class="date">
                            <div class="company-logo-container"><img class="company-logo" src="../../../assets/images/el.png" alt=""></div>

                        </span>
                    </div>
                </div>
               <div class="icon order_2b"></div>
                <div class="timeline-content order_3b col-md p-3">
                    <h5 class="title pt-4 fw-bold">The World Wide Web begins</h5>
                    <p class="description">
                        Tim Berners-Lee, invents the “World Wide Web” as an easy way to share information. Though we often use the “Internet” and the “Web” interchangeably, they don’t actually refer to the same thing. The Internet hosts the Web, which was Berners-Lee’s breakthrough.
                    </p>
                </div>
            </div>
            <!--1st section-->
            <!--2nd section-->
            <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                <div class="date-content order_1">
                    <div class="date-outer">
                        <span class="date">
                            <p class="year pt-2">2001</p>
                        </span>
                    </div>
                </div>
               <div class="icon order_2"></div>
               <div class="timeline-content order_3 col-md p-3">
                    <h5 class="title pt-4 fw-bold">Wikipedia opens to the world</h5>
                    <p class="description">
                        The beginning of the end for encyclopedia salesmen. Wikipedia launched with its first edit on January 15, 2001, and fast became the go-to source of information. By 2006, the site had published over 1 million articles and other internet enretpreneurs followed shortly.
                    </p>
                </div>
            </div>
            <!--2nd section-->
            <!--3rd section-->
            <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                <div class="date-content order_1b">
                    <div class="date-outer">
                        <span class="date">
                            <p class="year pt-2">2022</p>
                        </span>
                    </div>
                </div>
               <div class="icon order_2b"></div>
                <div class="timeline-content order_3b col-md p-3">
                    <h5 class="title pt-4 fw-bold">Internet users worldwide</h5>
                    <p class="description">
                        As of October 2022, there were 5.07 billion active internet users worldwide – almost 59.6 percent of the global population. Ask any of them what life would be like without the net and the answer will likely be either ‘unimaginable’ or ‘very, very boring’.
                    </p>
                </div>
            </div>
            <!--3rd section-->
        </div>
    </div>
    <br>
    </body>
    <div class="hr-line mt-4 mb-4"></div>
    <p class="footer fs-6 fw-bold text-center text-muted">Powered by:</p>
      <p class="text-center">
        <a title="Bootstrap" aria-label="More information about Bootstrap" href="https://getbootstrap.com" target="_blank"><img src="https://assets.codepen.io/9400490/Bootstrap.svg" alt="Bootstrap" width="30" height="30"></a>
         <a title="Shoelace" aria-label="More information about Shoelace" href="https://shoelace.style/components/icon" target="_blank"><img src="https://assets.codepen.io/9400490/Shoelace.svg" alt="FontAwesome" width="30" height="30"></a>
      </p>