/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '@fortawesome/fontawesome-free/css/all.min.css';


html, body { height: 100%; }
body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif;
     background-color: rgb(0, 0, 0); 
     overflow-x: hidden;
    }

    /* Target the scrollbar (adjust as needed) */
::-webkit-scrollbar {
    width: 10px;  /* Adjust width */
    height: 10px; /* Adjust height */
  }
  
  /* Style the scrollbar track */
  ::-webkit-scrollbar-track {
    background: #000000; /* Track color */
    border-radius: 5px; /* Rounded corners */
  }
  
  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #ffffff; /* Thumb color */
    border-radius: 5px; /* Rounded corners */
  }

